@model Category
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Default form</h4>
                        <p class="card-description">
                          Category  
                        </p>
                        <form asp-controller="Category" asp-action="Create" class="forms-sample" method="post">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Name</label>
                                <input type="text" class="form-control"  asp-for="Name " >
                                <span asp-validation-for="Name" maxlength="" minlength="" class="text-danger"> </span>
                            </div>
                            
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
